* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1000px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(83, 82, 82, 0.8), rgba(92, 90, 90, 0.8)), url(gps.JPEG);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 10px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: rgb(48, 30, 30);
	color: rgb(76, 69, 69);
}
.logo {
	float: center;
}
.logo img {
	width: 100%;
	padding: 15px 0;
	text-align: center;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h2 {
	text-align: center;
	color: rgb(236, 16, 16);
	text-transform: uppercase;
	font-size: 40px;
}
.welcome-text h2 span {
	color: rgb(230, 216, 216);
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: rgba(255, 255, 255, 0.87);
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 50%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: 100px; 
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
